// sass-lint:disable no-ids

.comments-area {
    .comment__body {
        margin-bottom: $theme-spacing-oneandhalf;
        padding: $theme-spacing-oneandhalf;
        border: .125rem solid $color-grey;

        @include from($tablet) {
            padding: $theme-spacing-oneandhalf $theme-spacing-two;
        }
    }

    .comment {
        > .comment {
            padding-left: $theme-spacing-oneandhalf;
        }
    }

    .comment-form-comment,
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        > label {
            display: block;
            margin-bottom: $theme-spacing-quarter;
            color: $color-black;
        }

        input,
        textarea {
            width: 100%;
            padding: $theme-spacing-half;
            border: .125rem solid $secondary;
            border-radius: $theme-spacing-quarter;
            line-height: 1;
        }
    }

    .acf-fg_comment_fields_author, {
        color: $color-black;
    }

    .required {
        color: $primary;
    }

    #cancel-comment-reply-link {
        display: block;
        margin-top: $theme-spacing-three-quarters;
    }

    .comment__author-badge {
        &::before {
            content: "/";
            margin-right: $theme-spacing-quarter;
        }
    }
}
