$pagination-item-color: $secondary-invert !default;
$pagination-item-color-current: $primary-invert !default;
$pagination-item-color-hover: $secondary !default;
$pagination-item-color-focus: $secondary !default;

$pagination-item-background-color-hover: $primary;
$pagination-item-background-color-focus: $primary;
$pagination-item-background-color-current: $primary !default;
$pagination-item-background-color-current-hover: $primary-dark !default;
$pagination-item-background-color-current-focus: $primary-dark !default;

$pagination-item-hover-shadow-size: 0 4px 8px !default;
$pagination-item-hover-shadow-color: rgba(0, 0, 0, .15) !default;

$pagination-item-transition-easing: $easing !default;
$pagination-item-transition-speed: $speed !default;

.pagination {
    @include list-reset;

    .pagination-item {
        a {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 2.2352rem;
            height: 2.2352rem;
            padding: $theme-spacing-quarter $theme-spacing-half;
            color: $pagination-item-color;
            border: 2px solid $secondary;
            line-height: 1.56;

            &:focus {
                color: $pagination-item-color-focus;
                background-color: $pagination-item-background-color-focus;
                border-color: transparent;
                outline-style: dashed;
                outline-offset: -2px;
                outline-color: $secondary;
                outline-width: 2px;
                text-decoration: none;
            }

            &:hover {
                color: $pagination-item-color-hover;
                background-color: $pagination-item-background-color-hover;
                border-color: transparent;
                text-decoration: none;
            }

            &:active {
                color: $pagination-item-color;
                background-color: transparent;
                border: 2px solid $secondary;
                outline: none;
            }

            &:not(.hellip) {
                &:hover,
                &:focus {
                    box-shadow: $pagination-item-hover-shadow-size $pagination-item-hover-shadow-color;
                    transition: box-shadow $pagination-item-transition-easing $pagination-item-transition-speed;
                }
            }
        }

        &.is-current {
            a {
                color: $pagination-item-color-current;
                background-color: $pagination-item-background-color-current;
                border-color: transparent;

                &:hover {
                    background-color: $pagination-item-background-color-current-hover;
                }

                &:focus {
                    background-color: $pagination-item-background-color-current-focus;
                }
            }
        }
    }

    .pagination-item,
    .unavailable,
    .arrow {
        margin: 0 .35rem .7rem;
    }

    .paginate {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 .35rem;

    }

    .hellip {
        color: $secondary-invert;
    }
}
