.page-program {
    &__description {
        > p > a {
            text-decoration: underline;
        }
    }
}

.program-list {
    display: grid;

    // grid-template-columns: 50% 50%;
    grid-gap: rem(24);

    @include from($widescreen) {
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        .info-column {
            max-width: 100%;
        }
    }

    a {
        &:focus {
            @extend .button-state-focus;
        }
    }
}

#program-search {
    input[type="search"],
    select,
    button,
    a {
        &:focus {
            outline: .125rem solid $color-black;
            outline-offset: .25rem;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    select {
        appearance: none;
    }

    .select-wrapper {
        .icon {
            transform: translateY(-50%);
            top: 50%;
            right: 10px;
            pointer-events: none;
        }
    }

    ul.ui-menu {
        .ui-menu-item {
            margin-bottom: .5rem;

            .ui-menu-item-wrapper {
                &.ui-state-active {
                    background-color: $color-grey;
                }
            }
        }
    }

    .bulmally-accordion {
        .accordion__title-button {
            @include from($mobile) {
                width: auto;
            }
        }
    }
}

.load-more-spinner {
    width: auto;
    height: auto;
        &::after {
            content: " ";
            display: block;
            width: 22px;
            height: 22px;
            margin: 0;
            border-radius: 50%;
            border: 3px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: spinner-spin 1.2s linear infinite;
        }
        @keyframes spinner-spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
}
