.program-list {
    display: grid;
    
    // grid-template-columns: 50% 50%;
    grid-gap: rem(24);

    @include from($widescreen) {
        grid-template-columns: 1fr 1fr;
    }

    a {
        &:focus {
            @extend .button-state-focus;
        }
    }
}

#program-search {
    input[type="search"],
    select {
        &:focus {
            text-decoration: underline;
            outline: .125rem solid $color-black;
            outline-offset: .25rem;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
    }
}
