.accordion {
    &__content {
        p {
            clear: both;
            overflow: auto;
        }
    }

    &__row {
        background-color: $color-light-gray;

        &:hover,
        &:focus {
            border-color: darken($secondary-light, 15%);
        }
    }

    &__title-button {
        width: 100%;
        transition: background-color ease-in .2s, color ease-in .2s;
        border: 0;
        appearance: none;

        &[aria-expanded="true"] {
            .icon {
                transform: rotate(180deg);
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &__title-icon {
        .icon {
            transition: transform ease-in .2s;
        }
    }

    button {
        position: relative;

        &:focus,
        &.is-focused,
        &:focus-visible {
            @extend .button-state-focus;
        }
    }

    a {
        position: relative;
        font-weight: 600;
        text-decoration: underline;

        &:focus,
        &.is-focused,
        &:focus-visible {
            @extend .button-state-focus;

            outline-offset: .125rem;
        }

        &.button {
            font-family: $family-secondary;
            font-size: 1rem;
            text-decoration: none;

            .icon {
                margin-left: .75rem !important;
            }
        }
    }
}
