.accordion {
   
    &__content {
        p {
            clear: both;
            overflow: auto;
        }
    }

    &__row {
        // border: 1px solid $secondary-light;
        // border-radius: $theme-spacing-quarter;
        background-color: $color-light-gray;
        &:hover {
            border-color: darken($secondary-light, 15%);
        }
    }

    &__title-button {
        width: 100%;
        border: 0;
        transition: background-color ease-in .2s, color ease-in .2s;
        appearance: none;

        &[aria-expanded="true"] {
            .icon {
                transform: rotate(180deg);
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &__title-icon {
        .icon {
            transition: transform ease-in .2s;
        }
    }

    
    button {
        position:relative;
        &:focus,
        &.is-focused,
        &:focus-visible {
            @extend .button-state-focus;

        }
    }
    a {
        text-decoration: underline;
        position:relative;
        font-weight: 600;
        &:focus,
        &.is-focused,
        &:focus-visible {
            @extend .button-state-focus;
            outline-offset: 0.125rem;

        }
    }

}
