.notice-banner {
    position: relative;
    overflow: hidden;

    &::before {
        @include from($desktop) {
            content: "";
            position: absolute;
            top: -11rem;
            right: -9rem;
            width: 17.75rem;
            height: 17.75rem;
            background-image: url('../images/hero-stripes.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &.has-background-primary {
        background-color: $primary;
        color: $color-white;
    }

    &.has-background-secondary {
        background-color: $color-light-blueishgray !important;
        color: $color-black;
    }

    &__title {
        color: inherit !important;
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        @include from($tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: initial;
        }
    }

    .icon {
        flex-shrink: 0;
        margin: 0 auto $theme-spacing;

        @include from($tablet) {
            margin: 0 0 0 $theme-spacing-three;
        }
    }

    &__link {
        color: inherit;

        &:focus {
            outline: none;

            > p {
                outline: .125rem dashed currentColor !important;
                outline-offset: .25rem;
            }
        }
    }
}
