.notice-banner {
    position: relative;
    overflow: hidden;

    &.has-background-primary {
        background-color: $primary;
        color: $color-white;

        .notice-banner__title {
            color: inherit !important;
        }
    }

    &.has-background-secondary {
        background-color: $color-light-gray !important;
        color: $text;

        .notice-banner__title {
            color: $text !important;
        }
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        @include from($tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: initial;
        }
    }

    .icon {
        flex-shrink: 0;
        margin: 0 auto $theme-spacing;

        @include from($tablet) {
            margin: 0 0 0 $theme-spacing-three;
        }
    }

    &__link {
        color: inherit;

        &:focus {
            outline: none;

            > p {
                outline: .125rem dashed currentColor !important;
                outline-offset: .25rem;
            }
        }
    }
}
