.quote {
    &.has-background-primary {
        .quote__content {
            color: $color-blue;
            font-size: $size-3;
            font-family: $family-secondary;
            line-height: 1.5;
            letter-spacing: -0.03em;
        }
        
        .quote__author {
            color: $color-light-blueishgray;
        }
    }

    &.has-background-white {
        .quote__content {
            color: $color-blue;
            font-size: $size-1;
            font-family: $family-tertiary;
            line-height: 1;
            letter-spacing: -0.03em;
        }
    }

    &__content {
        text-align: center;
    }

    &__author {
        font-size: .9rem;
        letter-spacing: 0.05rem;
    }
}
