.subpages {
    &__items {
        display: grid;
        grid-gap: $theme-spacing;
        grid-template-columns: repeat(1, 1fr);

        @include from($desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    a {
        &:focus {
            @extend .button-state-focus;
        }

        &.has-background-primary {
            &:hover,
            &:focus {
                background-color: $primary !important;
            }
        }

        &.has-background-white {
            border: .25rem solid $color-blue;

            .icon {
                fill: $color-blue !important;
            }
        }
    }

    h3 {
        color: inherit;
    }

    .has-background-black {
        color: $white !important;
    }
}
