.has-background-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.has-background-transparent {
    background-color: transparent !important; // sass-lint:disable-line no-important
}

.has-background-primary {
    background-color: $primary;
}

.has-background-secondary {
    &--opaque {
        background-color: rgba($secondary, .5) !important;
    }
}

$color-background-primary-light--opaque-light: rgba($primary-light, .05) !default;
.has-background-primary-light {
    &--opaque-light {
        background-color: $color-background-primary-light--opaque-light !important;
    }
}

.has-background-red {
    background-color: $color-red;
}

.has-background-fuchsia {
    background-color: $color-fuchsia;
}

.has-background-blue {
    background-color: $color-blue;
}

.has-background-green {
    background-color: $color-green;
}

.has-background-spruce-green {
    background-color: $color-spruce-green;
}

.has-background-light-gray {
    background-color: $color-light-gray !important;
}

.has-background-light-blueishgray {
    background-color: $color-light-blueishgray;
}
