.call-to-action {
    .image-meta__image-title,
    .image-meta__author-name {
        @include until($desktop) {
            padding-right: $theme-spacing;
            padding-left: $theme-spacing;
        }
    }

    .image-meta__author-name {
        color: $text;
    }

    &__item {
        .author-text {
            color: $color-black;
        }

        &.has-colors-primary {
            .call-to-action__title {
                color: $primary-invert;
            }

            .button {
                &:focus {
                    outline-color: $white;
                }
            }

            .author-text {
                @include until($tablet) {
                    color: $primary-invert;
                }
            }

            .image-meta__image-title,
            .image-meta__author-name {
                color: $primary-invert;

                @include from($tablet) {
                    color: $white;
                }
            }
        }

        &.has-colors-primary-light {
            background-color: $primary-light;
        }

        .image {
            height: 100%;
        }
    }
}
