.call-to-action {
    &__item {
        &.has-colors-primary {
            .call-to-action__title {
                color: $primary-invert;
            }

            .button {
                &:focus {
                    outline-color: $white;
                }
            }
        }

        &.has-colors-primary-light {
            background-color: $primary-light;
        }

        .image {
            height: 100%;
        }
    }
}
