.hero {

    height: 31.25rem;

    @include from($tablet) {
        height: 29.411rem;
    }

    @include from($desktop) {
        height: 43.7rem;
    }

    &--box {
        .hero__inner {
            top: auto;
            bottom: 0;
            transform: translateY(50%);

            @include from($desktop) {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);
            }
        }
    }

    &__inner {
        position: absolute;
        top: 50%;
        right: 1rem;
        left: 1rem;
        text-align: center;
        transform: translateY(-50%);

        @include from($tablet) {
            right: 0;
            left: 0;
        }

        @include from($desktop) {
            &.is-left {
                left: 0;
                text-align: left;
                transform: translateY(-50%);
            }

            &.is-right {
                right: 0;
                text-align: right;
                transform: translateY(-50%);
            }

        }
    }

    &__box {
        max-width: 42rem;
        margin-right: auto;
        margin-left: auto;

        &--background {
            padding: 3.25rem;
        }

        &.is-center {
            p {
                @include from($desktop) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        &.is-left {
            @include from($desktop) {
                margin-left: 0;
                text-align: left;

                p {
                    margin-left: 0;
                }
            }
        }

        &.is-right {
            @include from($desktop) {
                margin-right: 0;
                text-align: right;

                p {
                    margin-right: 0;
                }
            }
        }

        h1,
        p {
            text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.45);
        }


    }

    p {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;

        @include from($tablet) {
            max-width: 70%;
        }
    }

    .pill {
        font-size: 1rem;
        .icon {
            &,
            &--medium {
                width: 1rem !important;
                height:1rem !important;
            }
        }
    }
}

// Front page hero

.home {
    .hero {
        height: auto;

        @include from($desktop) {
            height: 43.7rem;
        }
    
        .hero__inner {
            transform: none;
            position: static;
            text-align: left;

            @include from($desktop) {
                position: absolute;
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);
            }
        }

        &__box-wrapper{
            background-size: cover;
            background-position: center;
            @include from($desktop) {
                background: none !important;
            }
        }

        &__links {
            background-color: $white;
            @include from($desktop) {
                background-color: transparent;
            }

            .column {
                max-width: 42rem;
                margin-right: auto;
                margin-left: auto;
                @include from($desktop) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            a {
                border: 1px solid $secondary;

                &:focus {
                    outline-color: $white;
                    .icon {
                        fill: $primary !important;
                    }
                }
            }
        }

        .search-form {

            &__input {
                -webkit-appearance: none;
                -webkit-border-radius: 0;
                border-radius: 0;
                border-width: 2px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
                border-right-width: rem(10);
                font-size: 1rem;
                padding: rem(22);
                padding-right: 0;
                text-overflow: ellipsis;

                &::placeholder { 
                    color: transparent;
                    @include from($desktop) {
                        color: $black;
                    }
                }

                &:focus {
                    outline-color: $white;
                    position: relative;
                    z-index: 9;
                }
            }

            &__button {
                border-width: 2px;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:focus {
                    outline-color: $white;
                    position: relative;
                    z-index: 9;
                }
            }
        }

        p {
            margin-right: 0;
            margin-left:0;
        }
    }
}

