.image-banner {
    @include tablet-only {
        min-height: 380px;
    }

    .overlay {
        background: linear-gradient(0deg, rgba(4, 37, 70, 0.75), rgba(4, 37, 70, 0.75));
    }

    &--has-text-right-desktop {
        .overlay {
            &::after {
                @include from($desktop) {
                    visibility: visible;
                }
            }
        }
    }

    &--has-text-left-desktop {
        .overlay {
            &::before {
                @include from($desktop) {
                    visibility: visible;
                }
            }
        }
    }

    &--has-text-centered-desktop {
        .overlay {
            &::before,
            &::after {
                @include from($desktop) {
                    visibility: visible;
                }
            }
        }
    }

    .button {
        font-size: 1rem;

        &:focus {
            outline-color: $primary-invert;
        }
    }
}
